.custom-btn {
  padding: 6px 24px;
  border: 1px solid gray;
  border-radius: 6px;
  max-height: 40px;
}

.custom-btn:hover {
  background-color: gray;
  color: #fff;
}
.custom-btn.primary {
  background-color: gray;
  color: #fff;
}
.disabled{
  cursor: not-allowed;
  background-color: #ccc !important;

}
